@import 'styles/_variables.scss';

.Button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $text-light-color;
  letter-spacing: 0.028em;
  padding: 9px 22px;

  svg {
    vertical-align: bottom;
    margin-left: 20px;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $primary-lighter-color;
    border-color: $light-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $background-disabled-color;
    border-color: $background-disabled-color;
    box-shadow: none;
  }
}