$background-color: #e5e5e5;
$primary-dark-color: #343c58;
$background-modal-color: rgba(30, 33, 36, 0.5);
$background-level-color: #d6d8de;
$background-disabled-color: #c9cccf;
$primary-color: #0467db;
$primary-light-color: #438de4;
$primary-lighter-color: #5ba7ff;
$light-color: #ffffff;
$text-color: #1e2124;
$text-dark-color: #343c58;
$text-light-color: #ffffff;
$text-secondary-color: #53595f;
$success-color: #32cb82;
$error-color: #ff6660;
$paper-border-color: #e4e4e6;
$option-border-color: #c9cccf;
