@import 'styles/_variables.scss';
@import 'styles/_mixins.scss';

.Quiz {
  text-align: center;
  position: relative;

  &>h3 {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 24px;
    padding-right: 90px;
  }

  &>p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 38px;
  }

  .QuizOption {
    @include paper;

    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: 1px solid $option-border-color;
    outline: 0;
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 11px 15px 23px 15px;
    text-align: left;
    margin-bottom: 16px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px $primary-lighter-color;
      border-color: $primary-lighter-color;
      outline: none;
    }

    &.QuizOptionSelected {
      box-shadow: 0 0 0 2px $primary-color;
      border-color: $primary-color;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .QuizQuestionLevel {
    position: absolute;
    top: 2px;
    right: 0;
  }

  .ButtonContainer {
    .Button {
      padding-left: 33px;
      padding-right: 33px;
      margin-top: 32px;
    }

    @media (max-width: 575px) {
      position: fixed;
      z-index: 100;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15px 24px;
      background-color: $light-color;
      border-top: 1px solid $paper-border-color;

      .Button {
        width: 100%;
        margin-top: 0;
      }
    }
  }
}