@import 'styles/_variables.scss';

.QuizQuestionLevel {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  background-color: $background-level-color;
  border-radius: 14px;
  padding: 3px 14px 3px 6px;
  color: $text-dark-color;
  white-space: nowrap;

  svg {
    margin-right: 6px;
  }
}
